
@{
    ViewData["Title"] = "CallOrder";
    Layout = "~/Areas/Property/Views/RenewalLayout.cshtml";
}

<div class="col-12">
    <form>
        <div class="form-group margin-top-20">
            <label for="fullName" class="input-label">Ad Soyad</label>
            <input type="text" class="form-control background-color-input" id="fullName" aria-describedby="emailHelp" placeholder="Ad Soyad">
        </div>

        <div class="form-group margin-top-20">
            <label class="input-label" for="phoneNumber">Mobil nömrə</label>
            <input type="text" class="form-control background-color-input" id="phoneNumber" placeholder="+994 50 123 45 67">
        </div>

    </form>
</div>

<div class="col-12 margin-top-20 margin-bottom-20">
    <button class="button-next btn">Daxil edin</button>
</div>

