
@{
    ViewData["Title"] = "Payment";
    Layout = "~/Areas/Property/Views/RenewalLayout.cshtml";
}

<div class="col-12">
    <h1 class="h1-style">
        Ödəniş
    </h1>
    <p class="p-info-style">
        Kart növünü seçin
    </p>
</div>

<div class="col-12 payment-page">

    <div>
        <img class="w-90" src="~/img/logos_visa.svg" />
    </div>

    <div>
        <img class="w-90" src="~/img/logos_mastercard.svg" />
    </div>

</div>

<div class="clearfix"></div>


<div class="col-12 payment-page-button-margin">
    <button class="button-next btn">İrəli</button>
</div>
