
@{
    ViewData["Title"] = "Success";
    Layout = "~/Areas/Property/Views/RenewalLayout.cshtml";
}

<div class="col-12 margin-bottom-20 margin-top-10">
    <div class="w-60 margin-0-auto text-center">
        <img class="w-60" src="~/img/Success Logo.svg" />
    </div>
    <div class="w-60 margin-0-auto text-center">
        <h1 class="h1-style text-center success-page-h1-margin-style">
            Təşəkkür edirik!
        </h1>
        <p class="p-info-style text-center">
            Yaxın iş saatlarında sizinlə əlaqə saxlanılacaq.
        </p>
    </div>
</div>

